body {
	min-height: auto;
	padding-top: 12px;
}

.navbar-default .navbar-nav>.active>a {
	border-top: 1px solid white;
}

.navbar-default .navbar-nav>.active>li {
	background: #fff;
}

body{
  margin-top: 50px;
}

.divide-nav{
  height: 50px;
  background-color: #9E161D;
}

.divide-text{
    color:#fff;
    line-height: 20px;
    font-size:20px;
    padding: 15px 0;
}

.affix {
  top: 50px;
  width:100%;
}

.filler{
  min-height: 2000px;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}
@media (min-width:1025px) {
.reg-width {
	margin-left: 50px;
}
}